@charset "UTF-8";
/*-------------------------------------------------*/
/*	normalize
/*-------------------------------------------------*/
progress, sub, sup {
  vertical-align: baseline; }

button, hr, input {
  overflow: visible; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

figcaption, menu, article, aside, details, figure, footer, header, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: 700; }

button, select {
  text-transform: none; }

[type=submit], [type=reset], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: none; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

ul {
  padding: 0;
  list-style-position: inside;
  list-style-type: none; }

ul, h1, h2, h3, p {
  margin: 0; }

div, li, ul, input, textarea, p, h1, h2, h3, h4, h5, h6, header, footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon {
  display: inline-block; }

.icon-fb {
  background-image: url(../img/icon-set.png);
  background-position: 0px 0px;
  width: 41px;
  height: 41px; }

.icon-insta {
  background-image: url(../img/icon-set.png);
  background-position: -41px 0px;
  width: 41px;
  height: 41px; }

.icon-phone {
  background-image: url(../img/icon-set.png);
  background-position: -82px -40px;
  width: 16px;
  height: 22px; }

.icon-skype {
  background-image: url(../img/icon-set.png);
  background-position: -82px 0px;
  width: 40px;
  height: 40px; }

.icon-viber {
  background-image: url(../img/icon-set.png);
  background-position: 0px -41px;
  width: 41px;
  height: 41px; }

.icon-wats {
  background-image: url(../img/icon-set.png);
  background-position: -41px -41px;
  width: 41px;
  height: 41px; }

/*-------------------------------------------------*/
/*	fonts
/*-------------------------------------------------*/
/** Generated by FG **/
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe.eot");
  src: local("☺"), url("../fonts/Circe/Circe.woff") format("woff"), url("../fonts/Circe/Circe.ttf") format("truetype"), url("../fonts/Circe/Circe.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: local("☺"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype"), url("../fonts/Circe/Circe-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Light.eot");
  src: local("☺"), url("../fonts/Circe/Circe-Light.woff") format("woff"), url("../fonts/Circe/Circe-Light.ttf") format("truetype"), url("../fonts/Circe/Circe-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

/*-------------------------------------------------*/
/*  author styles
/*-------------------------------------------------*/
body {
  min-width: 1140px;
  font-family: Circe;
  color: black; }

.container {
  width: 1140px;
  margin: auto;
  min-width: 1140px; }

.callback-button {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: 'Circe';
  font-size: 18px;
  font-weight: 700;
  height: 55px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#47aad2), color-stop(99%, #6dcff6), to(#6dcff6));
  background-image: -webkit-linear-gradient(bottom, #47aad2 0%, #6dcff6 99%, #6dcff6 100%);
  background-image: linear-gradient(to top, #47aad2 0%, #6dcff6 99%, #6dcff6 100%);
  border: 1px solid #ccc;
  background-color: #47aad2;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0.9px 2.9px 0 rgba(58, 178, 229, 0.23);
          box-shadow: 0.9px 2.9px 0 rgba(58, 178, 229, 0.23);
  line-height: 55px;
  display: inline-block;
  padding: 0 36px; }
  .callback-button:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#47aad2), color-stop(99%, #47aad2), to(#47aad2));
    background-image: -webkit-linear-gradient(bottom, #47aad2 0%, #47aad2 99%, #47aad2 100%);
    background-image: linear-gradient(to top, #47aad2 0%, #47aad2 99%, #47aad2 100%); }

/*-------------------------------------------------*/
/*    page
/*-------------------------------------------------*/
.page {
  max-width: 1950px;
  margin: auto; }

/*-------------------------------------------------*/
/*    header
/*-------------------------------------------------*/
.page-header__logo {
  display: block;
  margin-top: 74px;
  margin-left: 4px; }

.block {
  display: block; }

.abs-icon {
  position: relative; }
  .abs-icon i {
    position: absolute;
    left: 0;
    top: 0; }

.page-header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 744px;
  position: relative; }
  .page-header__bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 7px;
    padding-left: 23px; }
  .page-header__callback {
    margin-bottom: 17px; }
  .page-header__phones {
    font-weight: 700;
    font-size: 24px;
    padding-left: 21px; }
    .page-header__phones.abs-icon .icon {
      top: 4px; }

/*-------------------------------------------------*/
/*    catalog
/*-------------------------------------------------*/
.catalog {
  font-size: 0; }
  .catalog__header {
    padding: 12px 14px;
    color: #6dcff6;
    font-size: 18px;
    font-weight: 700;
    line-height: 41px;
    text-transform: uppercase; }
  .catalog__item {
    position: relative;
    display: inline-block; }
  .catalog__link {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    -webkit-transition: background .3s;
    transition: background .3s;
    text-decoration: none;
    color: black;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .catalog__link:hover {
      background-color: rgba(113, 208, 246, 0.6); }
      .catalog__link:hover .catalog__name:after {
        width: 100%; }
      .catalog__link:hover .catalog__desc {
        opacity: 1; }
  .catalog__name {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;
    text-transform: uppercase; }
    .catalog__name:after {
      content: '';
      height: 2px;
      width: 0%;
      display: block;
      position: absolute;
      bottom: 0px;
      left: 0;
      background-color: #000;
      -webkit-transition: width .5s;
      transition: width .5s; }
  .catalog__desc {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    font-size: 14px; }

/*-------------------------------------------------*/
/*    social
/*-------------------------------------------------*/
.social .social__link {
  margin-left: 7px;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  vertical-align: top; }
  .social .social__link:hover {
    opacity: .7; }
  .social .social__link:first-child {
    margin-left: 0; }

/*-------------------------------------------------*/
/*    footer
/*-------------------------------------------------*/
.page-footer {
  margin-top: 10px;
  padding: 30px 0; }
  .page-footer__company-name {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px; }
  .page-footer__right {
    text-align: right; }
  .page-footer__social {
    margin-top: 20px; }

/*-------------------------------------------------*/
/*  helper classes
/*-------------------------------------------------*/
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.container:before,
.container:after,
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.container:after,
.clearfix:after {
  clear: both; }

.container,
.clearfix {
  *zoom: 1; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.ta-right {
  text-align: right; }

/*-------------------------------------------------*/
/*    media
/*-------------------------------------------------*/
