extends template

block main
	// --------------- catalog -----------------
	.page__catalog.catalog
		.container
			.catalog__header.clearfix
				span.f-left Каталог услуг
				.social.f-right
					a(href="#").social__link.icon.icon-wats
					a(href="#").social__link.icon.icon-viber
					a(href="#").social__link.icon.icon-fb
					a(href="#").social__link.icon.icon-insta
					a(href="#").social__link.icon.icon-skype
			.catalog__body
				mixin catalogItem(imgNum, name, desc)
					.catalog__item
						-var i = 1;
						img(src="img/service" + imgNum + ".jpg", alt="")
						a(href="").catalog__link
							strong.catalog__name
								=name
							p.catalog__desc
								=desc
				+catalogItem('1', 'АРЕНДА НЕДВИЖИМОСТИ','Огромный выбор арендуемых квартир')
				+catalogItem('7', 'ПРОДАЖА НЕДВИЖИМОСТИ','Огромный выбор домов и квартир')
				+catalogItem('9', 'АРЕНДА МАШИН','Помощб в выборе транспортных средст')
				+catalogItem('15', 'УСЛУГИ ВОДИТЕЛЯ','Помощб в выборе транспортных средст')
				+catalogItem('12', 'НОТАРИУС','Наследство, сделки с недвижимостью, ит.д')
				+catalogItem('13', 'ЗАПОЛНЕНИЕ ДОКУМЕНТОВ','Огромный выбор домов и квартир')
				+catalogItem('10', 'ОФОРМЛЕНИЕ ДОКУМЕНТОВ','Помощб в выборе транспортных средст')

				+catalogItem('14', 'БРОНИРОВАНИЕ БИЛЕТОВ, ОТЕЛЕЙ','Помощб в выборе транспортных средст')
				+catalogItem('3', 'АРЕНДА ЯХТ','Наследство, сделки с недвижимостью, ит.д')
				+catalogItem('16','УСЛУГИ ВИЗАЖИСТА','Огромный выбор домов и квартир')
				+catalogItem('17','УСЛУГИ НОГЕВОГО СЕРВИСА','Огромный выбор арендуемых квартир')
				+catalogItem('18','ОРГАНИЗИЦИЯ КРУИЗОВ ПУТИШЕСТВИЙ НА МАШИНЕ','Огромный выбор домов и квартир')
				+catalogItem('19','ОБУЧЕНИЕ РУССКОМУ ЯЗЫКУ','Помощб в выборе транспортных средст')
				+catalogItem('20','ПРИСМОТР ЗА ДЕТЬМИ','Помощб в выборе транспортных средст')
				+catalogItem('11','ШОППИНГ СО СТИЛИСТОМ','Наследство, сделки с недвижимостью, ит.д')
				+catalogItem('8','УСЛУГИ ВРАЧЕЙ В МАЙАМИ','Огромный выбор домов и квартир')
				+catalogItem('2','ВСТРЕЧА В АЭРОПОРТУ','Помощб в выборе транспортных средст')
				+catalogItem('6','УБОРКА КВАРТИР','Помощб в выборе транспортных средст')
				+catalogItem('5','ЗАКАЗ ПРОДУКТОВ НА ДОМ','Огромный выбор домов и квартир')
				+catalogItem('4','УСЛУГИ ПЕРЕВОДЧИКА','Наследство, сделки с недвижимостью, ит.д')
				
	// --------------- catalog end -----------------