// -------- footer -----------
footer.page__footer.page-footer
	.container.clearfix
		.page-footer__left.f-left
			strong.page-footer__company-name Название компании
			.page-header__phones.abs-icon
				i.icon.icon-phone
				span.block +1 929 262 9361
				span.block +1 305 331 7687
		.page-footer__right.f-right
			.callback-button ОБРАТНЫЙ ЗВОНОК
			.social.page-footer__social
				a(href="#").social__link.icon.icon-wats
				a(href="#").social__link.icon.icon-viber
				a(href="#").social__link.icon.icon-fb
				a(href="#").social__link.icon.icon-insta
				a(href="#").social__link.icon.icon-skype
// -------- footer end -----------