// --------------- header -----------------
header.page__header.page-header
	.container
		a(href="#").page-header__logo
			img(src="img/logo.png", alt="")
		.page-header__bottom
			a(href="#").page-header__callback.callback-button ОБРАТНЫЙ ЗВОНОК
			.page-header__phones.abs-icon
				i.icon.icon-phone
				span.block +1 929 262 9361
				span.block +1 305 331 7687
// --------------- header end -----------------
